src/main/resources/wsdl/ws_query_threads_list.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<definitions xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="urn:cfs_ws" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="urn:cfs_ws">
<types>
<xsd:schema targetNamespace="urn:cfs_ws"
>
 <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
 <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
 <xsd:complexType name="login">
  <xsd:all>
   <xsd:element name="user" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="false"/>
   <xsd:element name="password" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="false"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="query_filter">
  <xsd:all>
   <xsd:element name="from_imposition_date" type="xsd:dateTime" minOccurs="0" maxOccurs="1" nillable="false"/>
   <xsd:element name="to_imposition_date" type="xsd:dateTime" minOccurs="0" maxOccurs="1" nillable="false"/>
   <xsd:element name="user_email" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="false"/>
   <xsd:element name="thread_type" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="false"/>
   <xsd:element name="threads_per_page" type="xsd:integer" minOccurs="0" maxOccurs="1" nillable="false"/>
   <xsd:element name="page_number" type="xsd:integer" minOccurs="0" maxOccurs="1" nillable="false"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="thread">
  <xsd:all>
   <xsd:element name="cfscode" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="false"/>
   <xsd:element name="record_date" type="xsd:dateTime" minOccurs="1" maxOccurs="1" nillable="false"/>
   <xsd:element name="subject" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="false"/>
   <xsd:element name="external_id" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="false"/>
   <xsd:element name="sender_email" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="false"/>
   <xsd:element name="imposition_date" type="xsd:dateTime" minOccurs="1" maxOccurs="1" nillable="false"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="threads">
  <xsd:sequence>
   <xsd:element name="thread" type="tns:thread" minOccurs="1" maxOccurs="unbounded" nillable="false"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="process_result">
  <xsd:all>
   <xsd:element name="code" type="xsd:integer" minOccurs="1" maxOccurs="1" nillable="false"/>
   <xsd:element name="description" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="false"/>
   <xsd:element name="threads_count" type="xsd:integer" minOccurs="1" maxOccurs="1" nillable="false"/>
   <xsd:element name="threads" type="tns:threads" minOccurs="0" maxOccurs="1" nillable="false"/>
  </xsd:all>
 </xsd:complexType>
</xsd:schema>
</types>
<message name="queryThreadsListRequest">
  <part name="version" type="xsd:string" />
  <part name="login" type="tns:login" />
  <part name="query_filter" type="tns:query_filter" /></message>
<message name="queryThreadsListResponse">
  <part name="process_result" type="tns:process_result" /></message>
<portType name="cfs_WebservicePortType">
  <operation name="queryThreadsList">
    <input message="tns:queryThreadsListRequest"/>
    <output message="tns:queryThreadsListResponse"/>
  </operation>
</portType>
<binding name="cfs_WebserviceBinding" type="tns:cfs_WebservicePortType">
  <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
  <operation name="queryThreadsList">
    <soap:operation soapAction="urn:cfs_ws#queryThreadsList" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:cfs_ws" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:cfs_ws" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
</binding>
<service name="cfs_Webservice">
  <port name="cfs_WebservicePort" binding="tns:cfs_WebserviceBinding">
    <soap:address location="http://confirmsign.local/ws_dev/v3/ws_query_threads_list.php"/>
  </port>
</service>
</definitions>