java_axistools/src/main/resources/wsdl/ws_get_thread_detail.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<definitions xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="urn:cfs_ws" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="urn:cfs_ws">
<types>
<xsd:schema targetNamespace="urn:cfs_ws"
>
 <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
 <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
 <xsd:complexType name="login">
  <xsd:all>
   <xsd:element name="user" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="false"/>
   <xsd:element name="password" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="false"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="query_filter">
  <xsd:all>
   <xsd:element name="cfscode" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="false"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="cfsdata_url_link">
  <xsd:all>
   <xsd:element name="full" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="false"/>
   <xsd:element name="technical" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="false"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="attachment">
  <xsd:all>
   <xsd:element name="filename" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="false"/>
   <xsd:element name="size" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="false"/>
   <xsd:element name="crc" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="false"/>
   <xsd:element name="first_download" type="xsd:dateTime" minOccurs="0" maxOccurs="1" nillable="false"/>
   <xsd:element name="file_url_link" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="false"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="attachments">
  <xsd:sequence>
   <xsd:element name="attachment" type="tns:attachment" minOccurs="1" maxOccurs="unbounded" nillable="false"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="deposit">
  <xsd:all>
   <xsd:element name="date" type="xsd:dateTime" minOccurs="1" maxOccurs="1" nillable="false"/>
   <xsd:element name="date_gmt_0" type="xsd:dateTime" minOccurs="1" maxOccurs="1" nillable="false"/>
   <xsd:element name="ip_address" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="false"/>
   <xsd:element name="operating_system" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="false"/>
   <xsd:element name="browser" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="false"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="ticket">
  <xsd:all>
   <xsd:element name="date" type="xsd:dateTime" minOccurs="1" maxOccurs="1" nillable="false"/>
   <xsd:element name="date_gmt_0" type="xsd:dateTime" minOccurs="1" maxOccurs="1" nillable="false"/>
   <xsd:element name="ip_address" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="false"/>
   <xsd:element name="operating_system" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="false"/>
   <xsd:element name="browser" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="false"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="notifications">
  <xsd:sequence>
   <xsd:element name="ticket" type="tns:ticket" minOccurs="1" maxOccurs="unbounded" nillable="false"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="email">
  <xsd:all>
   <xsd:element name="sender_email" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="false"/>
   <xsd:element name="receiver_email" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="false"/>
   <xsd:element name="notifications" type="tns:notifications" minOccurs="0" maxOccurs="1" nillable="false"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="sms">
  <xsd:all>
   <xsd:element name="phone_number" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="false"/>
   <xsd:element name="notifications" type="tns:notifications" minOccurs="0" maxOccurs="1" nillable="false"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="print">
  <xsd:all>
   <xsd:element name="receiver_id" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="false"/>
   <xsd:element name="receiver_name" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="false"/>
   <xsd:element name="postal_address" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="false"/>
   <xsd:element name="city" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="false"/>
   <xsd:element name="state" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="false"/>
   <xsd:element name="country" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="false"/>
   <xsd:element name="zip_code" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="false"/>
   <xsd:element name="expedition_id" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="false"/>
   <xsd:element name="content_certification" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="false"/>
   <xsd:element name="acknowledgment_of_receipt" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="false"/>
   <xsd:element name="notifications" type="tns:notifications" minOccurs="0" maxOccurs="1" nillable="false"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="notification_channel">
  <xsd:all>
   <xsd:element name="email" type="tns:email" minOccurs="0" maxOccurs="1" nillable="false"/>
   <xsd:element name="sms" type="tns:sms" minOccurs="0" maxOccurs="1" nillable="false"/>
   <xsd:element name="print" type="tns:print" minOccurs="0" maxOccurs="1" nillable="false"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="readings">
  <xsd:sequence>
   <xsd:element name="ticket" type="tns:ticket" minOccurs="1" maxOccurs="unbounded" nillable="false"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="response">
  <xsd:all>
   <xsd:element name="code" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="false"/>
   <xsd:element name="content" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="false"/>
   <xsd:element name="attachments" type="tns:attachments" minOccurs="0" maxOccurs="1" nillable="false"/>
   <xsd:element name="ticket" type="tns:ticket" minOccurs="1" maxOccurs="1" nillable="false"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="payment">
  <xsd:all>
   <xsd:element name="state" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="false"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="thread">
  <xsd:all>
   <xsd:element name="cfscode" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="false"/>
   <xsd:element name="external_id" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="false"/>
   <xsd:element name="thread_type" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="false"/>
   <xsd:element name="subject" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="false"/>
   <xsd:element name="cfsdata_url_link" type="tns:cfsdata_url_link" minOccurs="1" maxOccurs="1" nillable="false"/>
   <xsd:element name="flow_state" type="xsd:integer" minOccurs="1" maxOccurs="1" nillable="false"/>
   <xsd:element name="attachments" type="tns:attachments" minOccurs="0" maxOccurs="1" nillable="false"/>
   <xsd:element name="deposit" type="tns:deposit" minOccurs="0" maxOccurs="1" nillable="false"/>
   <xsd:element name="notification_channel" type="tns:notification_channel" minOccurs="0" maxOccurs="1" nillable="false"/>
   <xsd:element name="readings" type="tns:readings" minOccurs="0" maxOccurs="1" nillable="false"/>
   <xsd:element name="response" type="tns:response" minOccurs="0" maxOccurs="1" nillable="false"/>
   <xsd:element name="payment" type="tns:payment" minOccurs="0" maxOccurs="1" nillable="false"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="process_result">
  <xsd:all>
   <xsd:element name="code" type="xsd:integer" minOccurs="0" maxOccurs="1" nillable="false"/>
   <xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="false"/>
   <xsd:element name="thread" type="tns:thread" minOccurs="1" maxOccurs="1" nillable="false"/>
  </xsd:all>
 </xsd:complexType>
</xsd:schema>
</types>
<message name="getThreadDetailRequest">
  <part name="version" type="xsd:string" />
  <part name="login" type="tns:login" />
  <part name="query_filter" type="tns:query_filter" /></message>
<message name="getThreadDetailResponse">
  <part name="process_result" type="tns:process_result" /></message>
<portType name="cfs_WebservicePortType">
  <operation name="getThreadDetail">
    <input message="tns:getThreadDetailRequest"/>
    <output message="tns:getThreadDetailResponse"/>
  </operation>
</portType>
<binding name="cfs_WebserviceBinding" type="tns:cfs_WebservicePortType">
  <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
  <operation name="getThreadDetail">
    <soap:operation soapAction="urn:cfs_ws#getThreadDetail" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:cfs_ws" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:cfs_ws" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
</binding>
<service name="cfs_Webservice">
  <port name="cfs_WebservicePort" binding="tns:cfs_WebserviceBinding">
    <soap:address location="http://confirmsign.local/ws_dev/v3/ws_get_thread_detail.php"/>
  </port>
</service>
</definitions>